<% title "Om siden" %>

<h1>Om Siden</h1>

<p>Book of Lies er et community site for musikbranchen, med fokus på de lydtekniske aspekter. Alle med interesse for feltet kan oprette en brugerprofil, og kan derefter oprette profiler for spillesteder og rette i oplysningerne for disse.</p>

<p>De oplysninger som indtil videre kan udfyldes, er en beskrivelse af spillestedet, kontaktinformationer og information om stedets lydudstyr. Derudover kan du som bruger på sitet, angive om du er tilknyttet spillestedet.</p>

<p>Book of Lies er en idé der opstod i februar 2009 og dette første udkast blev offentliggjort 1. marts. Det er endnu på udviklingsstadiet og der er mange idéer til hvordan det kan udvikles til et endnu mere interessant og relevant site.</p>

<p>Vi vil dog blive glade for at høre hvad du tænker kunne forbedre sitet. Både hvad angår funktionalitet, design m.v. Smid os en mail på info@bookoflies.dk</p>

<p>"Book of Lies": Navnet kommer af de hæfter med teknisk info og band riders som lydteknikere bruger under bl.a. festivaler. De benævnes nogle gange som Book of Lies, da virkeligheden sjældent er som på papiret.</p>