<h1 class="first">Glemt password</h1>

<p>Hvis du har glemt dit password kan du udfylde formularen nedenfor med den e-mail adresse, der er knyttet til din konto.</p>
<p>Af sikkerhedsmæssige grunde kan vi ikke oplyse dit nuværende password. Du vil i stedet modtage et nyt password via e-mail. Du kan selvfølgelig altid ændre dette nye password til et du nemmere kan huske.</p>

<% form_tag(forgot_password_path) do %>
<div class="block">
  <%= label_tag :email, "E-mail" %>
  <%= text_field_tag :email, params[:email] %>
</div>

<%= submit_tag "Nulstil mit password" %>
<% end %>