<h1>Glemt kodeord</h1>

<p>Hvis du har glemt dit kodeord kan du udfylde formularen nedenfor med den email adresse, der er knyttet til din konto.</p>
<p>Af sikkerhedsmæssige grunde kan vi ikke oplyse dit nuværende kodeord. Du vil i stedet modtage et nyt kodeord via e-mail. Du kan selvfølgelig altid ændre dette nye kodeord til et du nemmere kan huske.</p>

<% form_tag(forgot_password_path) do %>

<div>
  <%= label_tag :email, "Email" %>
  <%= text_field_tag :email, params[:email] %>
</div>

<%= submit_tag "Send nyt kodeord" %>

<% end %>