<h1>Liste over personer</h1>

<ul class="personlist">
<% for person in @people %>
  <li>
	<span class="name"><%= link_to person.name, person %></span>
	<span class="email"><%=h person.email %></span>
	<span class="phone"><%=h person.phone %></span>
  </li>
<% end %>
</ul>