body {
	margin: 0;
	padding: 0;
	background: #fff url("/images/mainbg.jpg") repeat-y 0 248px;
	color: #000;
	font: 14px/1.4em "Courier New", Courier, monospace;
}

ul, li, h1, h2, p, form, label, input, textarea {
	margin: 0;
	padding: 0;
}

h1 {
	display: ;
	font: 18px/1.4em monospace;
	color: #600;
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
}

h2 {
	font: bold 14px/1.4em "Courier New", Courier, monospace;
	padding: 10px 0 0 10px;
}
a, a:visited {
	color: #000;
	/*border-bottom: 1px dashed #000;*/
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #000;
	text-decoration: underline;
	/*border-bottom: 1px solid #000;*/
}

input, textarea {
	padding: 1px 3px 2px 3px;
	border: 1px solid #ddd;
	background: #f9fafa;
	font: 14px/1.4em "Courier New", Courier, monospace;
}

.container {
	width: 1024px;
	height: 248px;
	background: #fff url("/images/headerbg.jpg") no-repeat 0 0;
}

.servermessage {
	position: absolute;
	top: 230px;
	left: 260px;
	width: 580px;
	color: #f00;
	text-align: center;
}
.errorExplanation {
	margin: 10px;
	color: #f00;
}
.errorExplanation h2 {}
.errorExplanation p {}
.errorExplanation ul {
	margin-left: 20px;
}
.errorExplanation li {}

.header {
	position: absolute;
	top: 190px;
	left: 260px;
	width: 580px;
	text-align: center;
}

.header a, .header a:visited {
	font: 40px/1em "Courier New", Courier, monospace;
	border: none;
	text-decoration: none; 
}
.header a:hover, .header a:active, .header a:focus {
	text-decoration: none;
	color: #777;
}

.menu {
	position: absolute;
	top: 250px;
	left: 20px;
	list-style: none;
	width: 160px;
}

.menu li a, .menu li a:visited {
	display: block;
	padding: 5px 5px 5px 15px;
	border: none;
	text-decoration: none;
	font: 14px/20px "Courier New", Courier, monospace;
}

.menu li a:hover, .menu li a:active, .menu li a:focus {
	background: #fafafa;
	border: none;
	text-decoration: none;
	color: #777;
}

.main {
	position: absolute;
	top: 250px;
	left: 260px;
	width: 580px;
	padding-bottom: 50px;
}
/* hestepik
.list {
	list-style: none;
	margin-bottom: 20px;
}

.list li {
	height: 25px;
	border-bottom: 1px dotted #bbb;
}

.list .name a, .list .web a, .list .email, .list .phone {
	float: left;
	display: block;
	padding: 2px 30px 2px 10px;
	border: none;
	text-decoration: none;
}

.list a:hover, .list a:active, .list a:focus {
	background: #fafafa;
	color: #777;
	border: none;
	text-decoration: none;
}
*/

.list {
	list-style: circle;
	margin: 20px 0 20px 35px;
}

.list span {
	margin-right: 20px;
}

.list a, .list a:visited {
	border: none;
}

.list a:hover, .list a:active, .list a:focus {
	text-decoration: underline;
}

.list .web a, .list .email, .list .phone {
	color: #777;
}

.edit {
	list-style: circle;
	margin: 0 0 0 35px;
}

.description {
	width:;
	padding: 0 0 10px 20px;
}

.address{
	float: right;
	list-style: none;
	font-style: italic;
	line-height: 1.2em;
	padding: 10px;
	margin: 10px;
	border: 1px dotted #bbb;
}
.address .zip {
	float: left;
	margin-right: 5px;
}

.techinfo, .personinfo, .employedpeople {
	list-style: none;
	margin: 0 0 10px 20px;
}

.form {
	margin: 10px;
}

.form div {
	margin-bottom: 10px;
}

.form label {
	float: left;
	width: 180px;
}

.form input {
	width: 300px;
}

.form textarea {
	width: 300px;
	height: 100px;
}

.formsubmit {
	margin: 10px 10px 10px 190px;
}

.forgottenpw {
	margin: 10px 10px 30px 10px;
}

.forgottenpw p {
	margin-bottom: 10px;
}