<% title "opret mange steder" %>

<h1>Opret mange steder</h1>

<% form_tag(bulk_places_path) do %>


<div class="block">
  <%= label_tag :data, "Indsæt data" %>
  <%= text_area_tag :data, params[:data], {:size => "100x200"} %>
</div>

<ul class="formsubmit">
  <li><%= submit_tag "Opret" %></li>
</ul>

<% end %>
