<% title "opret mange steder" %>

<h1>Opret mange steder</h1>

<% form_tag(bulk_places_path) do %>


<div class="form">
  <%= label_tag :data, "Indsæt data" %>
  <%= text_area_tag :data, params[:data], {:size => "100x200"} %>
</div>

<div class="formsubmit">
    <span><%= submit_tag "Opret" %></span>
	<span class="formcancel"><%= link_to "Annuller", @place%></span>
</div>

<% end %>
