<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Book of Lies</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
.section {
	width: 300px;
	margin: 30px;
	padding: 10px;
	border: 1px dashed #555;
	font: 14px/1.3em georgia, serif;
	}
a {
	color: #60e;
	}
a:hover {
	text-decoration: none;
	}
input {
	border: 1px dotted #555;
	margin: 5px 2px;
	}
</style>
</head>
<body>

<div class="section">
Her arbejdes på en side for den danske lydbranche.<br /><br />

<em>Idéen er siden skal være et forum for teknikere, hvor der kan diskuteres og udveksles erfaringer. Det er også idéen at siden med tiden kan opbygge en database af oplysninger om branchen, spillesteder, teknikere m.v.</em><br /><br />

Du kan tilmelde dig vores mailingliste og få besked når siden går i luften: <br /><br />
<form action="http://3dbyggeri.createsend.com/t/y/s/diltty/" method="post">
<label for="diltty-diltty">Email:</label><input type="text" name="cm-diltty-diltty" id="diltty-diltty" />
<input type="submit" value="Send" />
</form><br />

Hvis du har gode ideér til siden så skriv til <a href="mailto:info@bookoflies.dk">info@bookoflies.dk</a>
</div>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7705710-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>